<!-- pages/templates/pages/home.html -->

{% extends "base.html" %}

{% block page_content %}
    <h1>Portofoliu :D</h1>
    <a href="{% url 'project_index' %}" class="btn btn-primary mt-3">View Projects</a>
    
    <!-- Add more content to make sure there is enough scrollable content -->
    <p>This is a simple paragraph. Add more content if needed to create a smooth scroll experience.</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
    <p>miau miau miau miau miau miau miau</p>
   

{% endblock page_content %}
